.topnav {
    overflow: hidden;
    background-attachment: fixed;
    background-color: brown;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
body {
    background-image: url("../images/Project-image-1600x900.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.column{
    text-align: center;
    color: cornsilk;
}
.button {
    background-color: darkorange;
    border: brown;
    text-align: center;
    color: brown;
    padding: 15px 32px;
    display: inline; 
    font-size: medium;
    margin: auto;
    cursor: pointer;
    align-content: center;   
}
