/*
    Normal font size:
*/

html, body {
    font-size: 15px;
}

/*
    h1(Mercado)
*/

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

/*
    Bag Div CSS
*/

#bagDiv {
    border: 2px solid black;
}

/*
    Puts border, padding and margin to all categories of items
*/

#bag > ul {
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
}

/*
    h2
*/

h2 {
    font-size: 30px;
}

/*
    h2(Itens no mercado:)
*/

#marketh2 {
    float: right;
    margin: 0 50px 0 0;
}

/*
    The entire market: its children will be organized in a flexbox
*/

#marketDiv {
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
}

/*
    Class for every market item type
*/

.market {
    border: 1px solid blue;
    margin: 10px;
}

/*
    Top most container for both bag and market:
*/

#flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50vh;

}

/*
    Market itens CSS
*/

#flexWeapon, #flexAmmo, #flexArmor, #flexPersonalGear, #flexClothingAcessory, #flexTool, #flexFood, #flexAnimal, #flexAnimalGear, #flexHireling, #flexPotion, #flexIncantation {
    display: flex;
    flex-flow: row wrap;
}

.marketStuff {
    padding: 5px;
    margin: 5px;
}

.weapon {
    border: 1px solid red;
}

.ammo {
    border: 1px solid orangered;
}

.armor {
    border: 1px solid blue;
}

.personalGear {
    border: 1px solid green;
}

.clothingAcessory {
    border: 1px solid purple;
}

.tool {
    border: 1px solid palevioletred;
}

.food {
    border: 1px solid yellowgreen;
}

.animal {
    border: 1px solid brown;
}

.animalGear {
    border: 1px solid gray;
}

.hireling {
    border: 1px solid darkgoldenrod;
}

.potion {
    border: 1px solid slateblue;
}

.incantation {
    border: 1px solid maroon;
}

.topic {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
    Money Bag, Shopping Bag and Total Price
*/

#moneyDiv {
    position: fixed;
    bottom: 0vh;
    display: flex;
    flex-flow: row;
}

#moneyDiv > * {
    background-color: gold;
    color: black;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

/*
    Shopping List
*/
#shoppingList {
    display: flex;
    flex-flow: row wrap;
}

/*
    Navigation(Top)
*/

nav {
    position: fixed;
    background-color: snow;
    border: 2px solid lawngreen;
    padding: 5px;
    top: 0;
    right: 20vw;
}

/*
    Help
*/

#help {
    display: flex;
    width: 95vw;
    flex-flow: row wrap;
    align-items: space-between;
}

/*
    Price help
*/

#priceHelp {
    border: 2px solid black;
    font-weight: bold;
}

/*
    Property Help
*/

#propertyHelp {
    border: 2px solid black;
    font-weight: bold;
}

/*
    Buy Button
*/

#buyButton {
    font-size: 40px;
    text-align: right;
}
