/*
    Tamanho do texto normal:
*/

html, body {
    font-size: 20px;
}

/*
    Tradições e Magias(h1)
*/

h1 {
    font-size: 40px;
    text-align: center;
    color:  rgb(24, 102, 34);
}

/*
    Legenda:
*/

#caption {
    max-width: fit-content;
    border: 2px solid lightseagreen;
}

#captionTitle {
    color: lightseagreen;
}

/*
    Display flex no div com id="traditions" para ter
    as tradições de intelecto e vontade separadas e
    uma ao lado da outra
*/

#traditions {
    display: flex;
    flex-flow: row wrap;

}

/*
    Div das Tradições de Intelecto e de Vontade
*/

#traditions > * {
    width: 46%;
    text-align: center;
    border: 2px solid;
    margin: 1%;
}

/*
    Cor da letra dos h3's referentes às tradições de intelecto/vontade
*/

#intellect {
    color: blue;
}

#will {
    color: green;
}

/*
    Botões das Tradições:
*/

.tradition {
    background-color: rgb(216, 204, 138);
    cursor: pointer;
    padding: 5px;
    margin: 1%;
    width: 90%;
}

.darkMagic {
    color: rgb(243, 3, 3);
}

.traditionInavailable {
    background-color: black;
    cursor: not-allowed;
}

.intellect {
    border: 2px solid blue;
}

.will {
    border: 2px solid green;
}

/*
    Botões das Magias
*/

.spell {
    border: 2px solid lightseagreen;
    width: 60%;
    padding: 5px;
    margin: 5px;
}

/*
    Tradições e Magias escolhidas:
*/

#chosen {
    display: flex;
    flex-flow: row wrap;
}

#chosen > div {
    border: 3px solid greenyellow;
    margin: 10px;
}

/*
    Botão de Próxima Página
*/

#nextPageButton {
    margin-left: 90vw;
}
