html, body {
    font-size: 20px;
}

.caption {
    width: 15px;
    height: 15px;
}

#caption {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-flow: row;
}

h1 {
    font-size: 40px;
    text-align: center;
    color:  rgb(24, 102, 34);
}

#firstP {
    color: gold;
}

#removeButton {
    margin-left: 95vw;
    background-color: red;
}

#currentTradition {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

#spells, #intellectTraditions, #willTraditions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#intellectTraditions, #willTraditions {
    flex: 1;
}

#intellect {
    color: blue;
}

#will {
    color: green;
}

.tradition {
    background-color: rgb(216, 204, 138);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    flex: 1;
    text-align: center;
}

.darkMagic {
    background-color: indigo;
}

.traditionInavailable {
    background-color: black;
    cursor: not-allowed;
}

.intellect {
    border: 2px solid blue;
}

.will {
    border: 2px solid green;
}

.spell {
    border: 2px solid lightseagreen;
    padding: 5px;
    margin: 5px;
}

#nextPageButton {
    margin-left: 90vw;
}
