html, body {
    font-size: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color:  rgb(24, 102, 34);
}

#firstP {
    color: gold;
}

#traditions, #spells, #intellectTraditions, #willTraditions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#intellectTraditions, #willTraditions {
    border: 2px ridge red;
    flex: 1;
}

.tradition {
    border: 2px solid green;
    background-color: rgb(45, 0, 248);
    padding: 5px;
    margin: 5px;
    flex: 1;
    text-align: center;
}

.button {
    width: max-content;
    height: max-content;
}

.spell {
    border: 2px solid lightseagreen;
    padding: 5px;
    margin: 5px;
}